/* CSS Variable */
:root {
    --primary-color: darkslateblue;
    --secondary-color: #F43331;
    --violet-color: #52429B;
}

/* Import Font */
@font-face {
    font-family:"RobotoSlab-Regular";
    src: url("../assets/fonts/RobotoSlab-Regular.ttf") format("truetype");
}
/* Close Import Font */

/* HTML  */
html, body, main, footer {
    background-color: var(--primary-color);
    font-family: 'RobotoSlab-Regular', serif;
}
/* HTML Close */

/* Header */

.nav-link {
    margin-left: 4px;
    margin-right: 4px;
    color: var(--secondary-color);
}
.nav-link:hover {
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: white;
}
.nav-link:active {
    color: white;
}

.active {
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: white;
}


#btn-theme {
    padding-right: 38px;
    padding-left: 38px;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 16px;
}

#btn-theme:hover {
    color: white;
    background-color: var(--secondary-color);
}

/* Close Header */

/* Main */

.card-body {
    margin: 4px;
}

.container {
    padding: 54px;
}

/* Home */

#home {
    padding: 8%;
    background-color: var(--primary-color);
}

#btn-information {
    background-color: var(--violet-color);
    color: white;
    border-radius: 16px;
    border-color: var(--violet-color);
}

#headline {
    margin-top: 28px;
    margin-bottom: 54px;
    color: white;
}

#btn-learn {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    font-size: 18px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 16px;
}

#btn-video {
    border-color: var(--secondary-color);
    font-size: 18px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 16px;
    color: white;
}
#btn-video:hover {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}

/* Close Home */

/* News */
/* Close News */
/* Prevention */
#prevention {
    background-color: var(--primary-color);
    padding-top: 54px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 54px;
}
/* Close Prevention */

/* Himbauan */

/* Close Himbauan */


/* Close Main */

footer {
    background-color: darkslategray;
}